<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\components\footer.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
    </head>
<body>
<footer class="footer">
    <div class="footer-container">

        <!-- Change this to your twitter link -->
        <a href="https://twitter.com/TEDxKSAUHS"><div class="footer element"><img src="static\images\socialMedia\twitter.svg"></div></a>
        <a href="https://www.linkedin.com/company/tedxksauhs/"><div class="footer element"><img src="static\images\socialMedia\linkedin.svg"></div></a>

    </div>
</footer>   
</body>
</html>